@using Microsoft.AspNetCore.Identity
@model (IdentityUser User, IList<string> UserRoles, List<string> AllRoles)

<link href="/css/form.css" rel="stylesheet">
<link href="/css/editRoles.css" rel="stylesheet">

 <h2>Roles of @Model.User.UserName</h2>


<div class="form-container">

    <form asp-action="UpdateRoles" method="post" class="d-flex register-form">
        <input type="hidden" name="userId" value="@Model.User.Id" />
        <hr/>
        <ul>
            <h3>Edit Roles</h3>

            @foreach (var role in Model.AllRoles)
            {
                <div>>
                    <input type="radio" name="roles" value="@role" @(Model.UserRoles.Contains(role) ? "checked" : "") />
                    <label>@role</label>
                </div>
            }
            <button type="submit" class="w-100 btn btn-lg btn-primary marginTop1">Save</button>

        </ul>
    </form>

</div>


