@model VAIISemestralkaASPNET.Models.Service

@{
    ViewData["Title"] = "Service Details";
    var images = ViewBag.Images as List<string>;
    //TODO:: CSS -> DIFFERENT TEMPLATE
}

<h1>Service Details</h1>

<div>
    <h4>Service Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Start Date</dt>
        <dd class="col-sm-10">@Model.StartDate</dd>

        <dt class="col-sm-2">End Date</dt>
        <dd class="col-sm-10">@Model.EndtDate</dd>

        <dt class="col-sm-2">Work Time</dt>
        <dd class="col-sm-10">@Model.WorkTime</dd>

        <dt class="col-sm-2">Services Done</dt>
        <dd class="col-sm-10">@Model.ServisesDone</dd>
    </dl>
</div>

@if (images != null && images.Any())
{
    <h4>Associated Images</h4>
    <div class="row">
        @foreach (var image in images)
        {
            <div class="col-md-3 mb-3">
                <img src="@image" class="img-thumbnail" style="max-width: 100%; height: auto;" alt="Service Image" />
            </div>
        }
    </div>
}
else
{
    <p>No images associated with this service.</p>
}

@if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Mechanic"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    </div>
}
